body{
    margin: 0;
    padding: 0;
    background-color: rgb(220, 235, 220);
}

div{
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(219, 214, 214);
}
.header2{
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(97, 96, 96);
}
ul{
    margin: 0;
}
.header-2{
    height: 50px;
    display: flex;
    position: relative;
    box-shadow: 1px 1px 3px rgb(5, 5, 5)
}
li{
    padding: 13px;
    margin-left: 10px;
    margin-right: 10px;
    
    text-decoration: none;
    list-style: none;
}
.li-dark{
    padding: 13px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(224, 224, 224);
    text-decoration: none;
    list-style: none;
}
li:hover{
    background-color:grey;
}
h1{
    margin-left: 20px;
}
p{
    margin-left: 15px;
    margin-right: 10px;
}
.boton{
    position: absolute;
    top: 5px;
    right: 90px;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(7, 7, 7);
}
.circulo{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 38px;
    height: 38px;
    border-radius: 100%;
    border:rgb(85, 77, 77) solid 1.5px;
    transition: 2s;
}
.fas.fa-sun{
    font-size: 24px;
    position: absolute;
    top:8px;
    left: 10px;
    color: rgb(230, 224, 224);
}
.fas.fa-moon{
    font-size: 24px;
    position: absolute;
    top:8px;
    right: 10px;
    color: rgb(204, 204, 202);
}
.boton2{
    position: absolute;
    top: 5px;
    right: 90px;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(255, 196, 0);
}
.circulo2{
    position: absolute;
    right: 0px;
    background-color: rgb(255, 255, 255);
    width: 38px;
    height: 38px;
    border-radius: 100%;
    border:rgb(85, 77, 77) solid 1.5px;
    transition: 2s;
}
.dark{
    background-color: rgb(0, 0, 0);
    color: blanchedalmond;
}
@media only screen and (max-width: 500px){
    li{
        padding: 5px;
        padding-top: 15px;
        text-decoration: none;
        list-style: none;
    }
}
@media only screen and (max-width: 450px){
    ul{
        padding: 0;
    }
}
@media only screen and (max-width: 400px){
    .boton{
        position: absolute;
        top: 5px;
        right: 10px;
        width: 80px;
        height: 40px;
        border-radius: 20px;
        background-color: rgb(7, 7, 7);
    }
}